django>=6.0
django-cors-headers
python-dotenv
google-genai
python-telegram-bot
SpeechRecognition
pydub
requests
matplotlib
numpy
Pillow
gunicorn
whitenoise
psycopg2-binary
dj-database-url
django-jazzmin
